@model IEnumerable<Panel_de_Control_IoT_Privadas.Models.Casas>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<h2>PRIVADAS</h2>
<p>
    <a href="@Url.Action("Create")">
        <img src="~/Content/mas.png" alt="Crear" width="25" height="25" />
    </a>
</p>
<table class="table">
    <tr>
        <th>
            Numero de Casa
        </th>
        <th>
            Estatus
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumCasa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estatus)
            </td>
            <td>
                <a href="@Url.Action("Edit", new { id = item.ID })">
                    <img src="~/Content/editar.png" alt="Editar" width="40" height="40" />
                </a>
                <a href="@Url.Action("Details", new { id = item.ID })">
                    <img src="~/Content/lista.png" alt="Detalles" width="40" height="40" />
                </a>
                <a href="@Url.Action("Delete", new { id = item.ID })">
                    <img src="~/Content/borrar.png" alt="Eliminar" width="40" height="40" />
                </a>
                <a href="@Url.Action("Users", new { id = item.ID })">
                    <img src="~/Content/team.png" alt="Usuarios" width="40" height="40" />
                </a>

            </td>
        </tr>
     }
</table>
<script>
    $('#ddlPrivadas').change(function () {
        var privada = $(this).val(); // Obtiene el valor seleccionado
        if (privada != "") {
            // Realiza una solicitud AJAX para obtener los datos de Medidor
            $.ajax({
                url: '/Casas/BuscarCasas?privadaID=' + privada,
                type: 'GET',

                success: function (data) {
                },

                error: function () {

                    console.log('Error al enviar la solicitud AJAX.');

                }
            });

        }
    });
</script>
