@model Panel_de_Control_IoT_Privadas.Models.Historials

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Historials</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Privadas.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Privadas.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumCasa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumCasa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaEpoch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaEpoch)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", new { id = Model.ID })">
        <img src="~/Content/editar.png" alt="Editar" width="25" height="25" />
    </a>|
    <a href="@Url.Action("Index")">
        <img src="~/Content/atras.png" alt="Regresar" width="25" height="25" />
    </a>
</p>
